# Copy to .env and fill in values. Never commit .env.
Services__epr-packaging-frontend__ApiKey__Value=
Services__waste-obligations__OAuth__ClientId=
Services__waste-obligations__OAuth__ClientSecret=
Services__waste-obligations-frontend__ApiKey__Value=
Services__packaging-waste-proxy__ApiKey__Value=
